.history__item{
    display: flex;
    font-family: 'Roboto', 'sans-serif';
    padding: 0.4em 0.5em 0.4em 0.6em;
    color: #52188c;
    overflow-wrap: break-word;
    align-items: center;
}
.history__item:hover{
    background: rgba(0, 0, 0, 0.1);
}
.history__item-button{
    font-size: 13px !important;
    padding: 0 !important;
    border-radius: 0 !important;
    color: #36c !important;
    margin-left: auto !important;
}
.history__item-button:hover{
    background: none !important;
    text-decoration: underline !important;
}